<div class="nav-container">
    <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand"><span class="octicon-inbox"></span>
                &nbsp;
                {{$ctrl.address}}
                &nbsp;
                <span ng-if="$ctrl.mails.length" class="tag tag-pill tag-default">{{$ctrl.mails.length}}</span>
            </a>


            <ul class="nav navbar-nav">

                <button type="button nav-link" class="btn btn-outline-primary pull-xs-right"
                        ng-click="$ctrl.gotoRandomAddress()">
                    <span class="glyphicon glyphicon-random"></span>&nbsp;
                    randomize
                </button>

                <form class="form-inline pull-xs-right" ng-submit="$ctrl.gotoMailbox($ctrl.address)">
                    <input ng-model="$ctrl.address"
                           placeholder="username"
                           type="text" class="form-control"/>
                    <button type="submit" class="btn btn-outline-success">login</button>
                </form>

            </ul>
        </nav>
    </div>
</div>


<main>
    <div class="container min-height" ng-switch="$ctrl.state">

        <p ng-switch-when="home">
            Use the buttons above to create a new inbox, or open a specific mailbox.
        </p>


        <div ng-switch-when="list" ng-repeat="mail in $ctrl.mails | orderBy:'-date' track by $index"
             class="email-table">
            <mail mail="mail"></mail>
        </div>

        <div ng-switch-when="loading" class="waiting-screen">
            <h1>&nbsp;</h1>
            <p class="lead">Loading Mails</p>
            <p><br/>
                <img src="spinner.gif">
                <br/>
            </p>
        </div>

        <div ng-switch-when="empty">
            <div class="waiting-screen">
                <h1>{{$ctrl.address}}</h1>
                <p class="lead">Inbox is empty.</p>
                <p><br/>
                    <img src="spinner.gif">
                    <br/></p>
                <p class="lead">Emails to {{address}} will be automatically displayed on this page. </p>
            </div>
        </div>
    </div>
</main>