$email-border-color: #7C96AB;
$email-summary-background: white;
$email-header-background: white;

$tab-button-color: white;
$tab-button-color-inactive: #e0e0e0;
$tab-content-background: white;

.sticky-header {
  top: 0;
  z-index: 1000;
}

.email {
  .email-summary {
    font-weight: bold;
    border-top: 5px solid $email-border-color;
    border-bottom: 1px solid $email-border-color;
    padding: 10px;
    background-color: $email-summary-background;
  }

  .email-headers {
    background-color: $email-header-background;

    dl {
      padding: 0 0 4px;
      color: black;
      overflow: hidden;

      dt {
        float: left;
        color: black;
        margin: 0 3px 0 0;
      }
      dd {
        display: block;
        overflow: hidden;
        margin-bottom: .3rem;
      }
    }
  }

  .mail-content {
    background-color: $tab-content-background;
    padding-left: 20px;
    overflow: hidden;
  }
}

.email-table {
  margin-top: 20px;
  background: white;
}

.waiting-screen {
  padding: 40px 15px;
  text-align: center;
}

div.min-height {
  min-height: 400px;
}

